@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #5adef6;
    --black-color: #121212;
    --border: 0.1rem solid rgba(255,255,255,0.4)
}

*{
    font-family: "Poppins", sans-serif;
    margin :0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;

}

/*! Base html kodları*/
html {
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    
}

section{
    padding: 3.5rem 7%;
}

a{
    color: var(--black-color);
    
}
.btn{
    margin: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--black-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.btn:hover{
    opacity: 0.5;
}

.heading{
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid  #fff;

}

.heading span{
    color:var(--black-color);
    text-transform: uppercase;
}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding:1rem ;
    text-transform: none;
    border-radius: 3rem;
}


.logo img {
    height : 7rem;
}

/*! Header kodları*/

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px  rgba(0, 0, 0, 75%);
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

.header .search-form input{
    width: 100%;
}

.header  .logo img {
    height : 10rem;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75) ;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.header .navbar a{
    margin : 0.1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
   
}

.header .navbar .active,

.header .navbar a:hover{
    border-color: var(--black-color);
    padding-bottom: 0.1rem;
}

.header .buttons button{
cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}   

#menu-btn{
    display: none;
}
/*! Header kodları*/

/*! Home kodları*/
.home{
    min-height: 100vh;
    background: url(../images/home.png)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;

    display: flex;
    align-items: center;

}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: #ed3636;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color:#0b0b0b;
}

/*! Home kodları*/

/*! Sehir kodları*/
.sehir .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.sehir .box-container .box{
    padding: 3rem;
    background-color:#fff ;
    border-radius: 3rem;
    background-color: #fff;
    justify-content: space-between;
   
    width: calc(25% - 20px);
    margin: 10px;
    flex: 1 0 auto;
}
.sehir .box-container .box img {
    max-width: 100%; /* Resmin maksimum genişliğini kutunun içine sığacak şekilde ayarlayın */
    max-height: 100%; /* Resmin maksimum yüksekliğini kutunun içine sığacak şekilde ayarlayın */
    display: block; /* Resmi blok olarak ayarlayın */
}

.box-bottom {
    padding: 5px 10px;
    display: flex; /* Butonları yatay olarak hizalamak için */
    justify-content: center; /* Butonları ortalamak için */
}

.box-bottom a.btn {
    font-size: 14px; /* Butonun metin boyutunu ayarlayın */
    padding: 3px 10px; /* Butonun içerisindeki dolgu miktarını ayarlayın */
    text-align: center;
}

.sehir .box-container .box .sehir-category {
    font-size: 1.2rem;
}
.sehir .box-container .box h3 {
    font-size: 2rem;
    padding:0.5rem;
    text-align: center;
   }
   
/*! Sehir kodları*/

/*! Miras kodları*/
.miras .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.miras .box-container .box{
    padding: 3rem;
    background-color:#fff ;
    border-radius: 3rem;
    background-color: #fff;
    justify-content: space-between;
   
    width: calc(25% - 20px);
    margin: 10px;
    flex: 1 0 auto;

}

.miras .box-container .box img {
    max-width: 100%; /* Resmin maksimum genişliğini kutunun içine sığacak şekilde ayarlayın */
    max-height: 100%; /* Resmin maksimum yüksekliğini kutunun içine sığacak şekilde ayarlayın */
    display: block; /* Resmi blok olarak ayarlayın */
}

.miras .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.miras .box-container .box .box-head .title{
   font-size: 1.4rem;

}
.miras .box-container .box .box-head .name{
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
 }


.box-bottom {
    padding: 5px 10px;
    display: flex; /* Butonları yatay olarak hizalamak için */
    justify-content: center; /* Butonları ortalamak için */
}


/*! Miras kodları*/

/*! İlgi Alanlarım kodları*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
    display: flex; /* İçeriği yatay olarak hizalamak için */
    align-items: flex-start;
    flex-direction: column;
 }

.about .row img{
    max-width: 80%; /* Resmin maksimum genişliğini ayarlayın */
    height:auto;
 }  
 
 .about .row .content{
    flex: 1 1 10rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .about .row .content h3{
    font-size: 3rem ;
    color:#fff;
 }

 .about .row .content p{
    font-size: 1.6rem;
    color:#030303;
    padding: 1rem 0;
    line-height: 1.8;

 }


/*! İlgi Alanlarım kodları*/

/*! contact kodları*/
.contact .row{

    display: flex;
    align-items: center;
    background-color: var(--black-color);
    flex-wrap: wrap;
    justify-content: center;
}

.contact .row form {
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 1.6rem;
    padding-left: 1rem; /* Metinlerin sağında bir boşluk bırak */
    align-self: center; /* Metinleri dikeyde ortala */

}
.contact .row form .inputBox {

   display:flex;
   align-items: center;
   margin: 2rem 0;
   border: var(--border);
}

.contact .row form .inputBox i{
    align-items: flex-start;
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background-color: transparent;
}

.contact .row form .btn{
    color:var(--main-color);
    background-color: #fff;
    font-weight: bold;
}

/*! contact kodları*/


.cv .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* İçeriği dikey olarak hizala */
    background-color: #fff; /* İçerik kutusunun arka plan rengi */
    padding: 3.5rem; /* İçerik kutusunun iç boşluğunu ayarla */
    border-radius: 1rem; /* İçerik kutusunun köşelerine yuvarlaklık uygula */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* İçerik kutusuna gölge ekle */
}

.cv .content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#040404;
    margin-bottom: 2rem;
}
.cv .content ul {
    list-style: none; /* Liste işaretlerini kaldır */
    padding: 0; /* Liste içi boşluğu sıfırla */
}

.cv .content ul li {
    font-size: 1.6rem; /* Liste öğelerinin metin boyutunu ayarla */
    color: #333; /* Liste öğelerinin metin rengini belirle */
    margin-bottom: 1rem; /* Liste öğeleri arasına boşluk ekle */
}

.cv .content ul li strong {
    font-weight: bold; /* Kalın metin */
}

.cv .content ul ul {
    margin-top: 1rem; /* İç içe geçmiş listeler arası boşluk */
}


/*! İlgi Alanlarım kodları bitti*/

.footer{
    background-color: var(--black-color);
    text-align: center;

}

.footer .search{
    display: flex;
    justify-content: center;
}

.footer .search .search-input{
    width: 30rem;
    
}

.footer .search .btn-primary{
    background-color: var(--main-color);
    padding: 1rem;
    margin-left: 2rem;
}

.footer .share {
     padding: 2rem 0;
     justify-content: center;
     margin-left: -10rem;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem ;
    color: #fff;
    font-size: 2rem;
    border:var(--border);
    margin:0.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .link{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    gap:1rem;
    
}

.footer .link a{
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    border:var(--border);
}

.footer .link a:hover{
    background-color: #030303;
    opacity: 0.7;
}

.footer .link a.active{
    background-color: #030303;
}

.footer .credit{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.5rem;
    font-style: italic;
}

.footer .credit span{
    color: var(--main-color);
}


/*! Responsive */
 @media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
    }

    section{
        padding:2rem;
    }

    .miras .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
 }

 @media(max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 10px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }

    .header .navbar.active{
        right: 3rem;
         /* veya arka plan renginize uygun bir değer */
         max-height: 55vh; /* Belirli bir yükseklik, örneğin viewport yüksekliğinin %80'i */
         overflow-y: auto;
    }

    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    
 }





